body {
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 1rem;
}

img {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
}
#map {
  height: 220px;
  margin-top: 1rem;
  border-radius: 12px;
  display: none;
}
#version {
  font-size: 0.6em;
  opacity: 0.6;
  margin-left: 0.3em;
}

